<!-- Modal para ver datos del usuario -->
<div class="modal fade" id="userDetailsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Datos de la cuenta</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeUserDetailsModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userDetailsForm">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" id="name" formControlName="name" class="form-control" [attr.disabled]="true">
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Apellido</label>
            <input type="text" id="lastname" formControlName="lastname" class="form-control" [attr.disabled]="true">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control" [attr.disabled]="true">
          </div>
          <div class="mb-3">
            <label for="phonenumber" class="form-label">Número de Teléfono</label>
            <input type="text" id="phonenumber" formControlName="phonenumber" class="form-control"
              [attr.disabled]="true">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeUserDetailsModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="openEditUserModal()">Editar perfil</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar datos del usuario -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mis datos</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeEditUserModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editUserForm">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" id="name" formControlName="name" class="form-control">
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Apellido</label>
            <input type="text" id="lastname" formControlName="lastname" class="form-control">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control">
          </div>
          <div class="mb-3">
            <label for="phonenumber" class="form-label">Número de Teléfono</label>
            <input type="text" id="phonenumber" formControlName="phonenumber" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeEditUserModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="updateUser()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para confirmar la eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Eliminar cuenta</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="cancelDelete()"></button>
      </div>
      <div class="modal-body">
        Estás a punto de eliminar tu cuenta. Esta acción no se puede deshacer.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelDelete()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deleteAccount()">Confirmar eliminación</button>
      </div>
    </div>
  </div>
</div>

<!-- Contenedor para notificaciones flotantes -->
<div id="notificationContainer" style="position: fixed; top: 20px; right: 20px; z-index: 1050;"></div>


<div class="container">
  <!-- Mensaje de bienvenida -->
  <div *ngIf="userEmail" class="alert alert-success mt-3" role="alert">
    <p>Bienvenido a nuestra aplicación de lista de tareas, <strong>{{ userEmail }}</strong>!</p>
  </div>

  <div class="dropdown mt-3">
    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
      aria-expanded="false">
      <i class="fas fa-cog"></i> Configuraciones
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
      <li><button class="dropdown-item" (click)="openUserDetailsModal()"><i class="fas fa-user-circle me-2"></i> Mi
          perfil</button></li>
      <li><button class="dropdown-item" (click)="openDeleteModal()"><i class="fas fa-trash-alt me-2"></i> Eliminar
          perfil</button></li>
      <li><button class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt me-2"></i> Cerrar
          sesión</button></li>
    </ul>
  </div>

  <div class="task-list-container">
    <h1 class="display-4">Administrador de tareas</h1>
    <p class="lead">Administre sus tareas diarias de manera eficiente.</p>

    <div class="row">
      <div class="col-md-8">
        <h2>Lista de Tareas</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Título</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let task of tasks">
                <tr>
                  <ng-template [ngIf]="editingTaskId !== task.id">
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>
                      <button class="btn btn-primary btn-sm me-2" (click)="editTask(task)">Editar</button>
                      <button class="btn btn-danger btn-sm" (click)="deleteTask(task.id)">Eliminar</button>
                    </td>
                  </ng-template>
                  <ng-template [ngIf]="editingTaskId === task.id">
                    <td><input [(ngModel)]="editedTask.title" class="form-control"></td>
                    <td><input [(ngModel)]="editedTask.description" class="form-control"></td>
                    <td>
                      <button class="btn btn-success btn-sm me-2" (click)="updateTask()">Guardar</button>
                      <button class="btn btn-secondary btn-sm" (click)="cancelEdit()">Cancelar</button>
                    </td>
                  </ng-template>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-4">
        <h2>Agregar Nueva Tarea</h2>
        <form (ngSubmit)="addTask()">
          <div class="mb-3">
            <label for="title" class="form-label">Título:</label>
            <input id="title" [(ngModel)]="newTask.title" name="title" class="form-control"
              placeholder="Ingresa el nombre de la tarea" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Descripción:</label>
            <input id="description" [(ngModel)]="newTask.description" name="description" class="form-control"
              placeholder="Describe la tarea" required>
          </div>
          <button type="submit" class="btn btn-success">Agregar Tarea</button>
        </form>
      </div>
    </div>

    <hr>

    <div class="info-container mt-5">
      <h2>Información Adicional</h2>
      <div class="row">
        <div class="col-md-6">
          <h4>Funcionalidades</h4>
          <ul>
            <li>Agregar, editar y eliminar tareas</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Compatibilidad</h4>
          <p>Acceda a su lista de tareas desde cualquier dispositivo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
